body {
  max-width: 800px;
  margin: 0px auto;
  background-color: rgb(230, 235, 245);
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  color: rgb(55, 53, 47);
  text-align: left;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 20px;
}

a {
  text-decoration: none;
  color: #4595DB;

  &:hover {
    text-decoration: underline;
  } 
}

.site-header {
  border-bottom: 1px solid #aaaaaa;
  margin: 40px 0px 0px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  .site-title {
      font-weight: bold;
      font-size: 1.5em;
      align-self: end;
  }

  a {
    color: #3C3C3C;
    text-transform: uppercase;
  }

  a:hover {
    text-decoration: none;
  }

  nav {
    align-self: end;
    font-size: 1em;
    letter-spacing: 1px;
  }

  ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: right;
    padding: 0px;
    margin: 0px;

    li {
      margin-left: 20px;
    }
  }
}

.page-content {
  margin-top: 40px;
  min-height: calc(80vh - 160px);
  h1, h2, h3 {
    color: #5C5C5C;
  }
  hr {
    width: 20px;
  }
  li {
    margin-bottom: 10px;
  }

  pre.highlight {
  background: #222;
    padding: 10px;
    color: #ddd;
    font-family: Arial;
    font-size: 0.8em;
  }

}

.box {
  background-color: rgb(225, 230, 240);
  padding: 10px;
  border: 1px solid #aaaaaa;
  text-align: center;
}

h1, h2, h3 {
  font-size: 1.3em;
}

.site-footer {
  margin-top: 40px;
  border-top: 1px solid #aaaaaa;
  padding-top: 20px;
  font-size: 0.8em;
  text-align: center;

}

.mailing-list {
  min-height: 20px;
  max-width: 440px;
  width: 50%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  header {
    display: grid;
    grid-template-rows: 1fr;
    .site-title {
      font-size: 1.2em;
    }
    nav {
      font-size: 0.8em;
    }
  }
}
